@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .animate-blur-fade {
    animation: blur-fade 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  @keyframes blur-fade {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}